<%@page_title = 'About us' %>
<div style="margin-top:50px;">
	<div class="hero-unit" style="font-size:14px;text-align:left;padding:5px;">
	Mabira project is an online purchasing project designed by the development committee of Blue Streams Solution Limited in partnership with Benda Associates Limited.
	The members below are the people who have been part of the project.
	</div>
	
</div>