<%@page_title='services'%>
<div class="span8" style="padding-top:20px;font-weight:bold;">
		<div class="span12" style="font-size:14px;padding:5px;margin-top:10px;">
			MABIRA PROJECT SERVICES
		</div>
		<div class="hero-unit" style="height:280px;">
			<div style="font-size:12px;" class="span9">
				<p style="font-weight:bold;">DELIVERY SERVICES
				<br />
				<div  style="margin-left:10px;">
				We deliver orders that have been made by our clients to their desired destinations 5Km from the point of collection within the city center.
				</div>
				</p>
				<p style="font-weight:bold;">SYSTEM MAINTAINANCE
				<br />
				<div  style="margin-left:10px;">
				We maintain the functionality of the services offered by the Mabira system and project as a whole.
				</div>
				</p>
				<p style="font-weight:bold;">ADVERTISEMENTS
				<br /> 
				<div  style="margin-left:10px;">
				We carry out adverts on Mabira system for those who are intrested in advertising with Mabira.
				</div>
				</p>

			</div>
		</div>
</div>
