<% @page_title = 'Seller | Edit' %>
<h3>Editing seller</h3>
<div class="depot_form">
	<fieldset>
		<%= render 'form' %>

		<%= link_to 'Show', @seller %> |
		<%= link_to 'Back', sellers_path %>

	</fieldset>
</div>
